.buttonPrimary {
    color: #ffffff;
    font-size: 14px;
    border-radius: 23px;
    padding: 10px 15px;
    background-color: #003996;
}

.buttonSecondary {
    color: #003996;
    font-size: 14px;
    border-radius: 23px;
    padding: 10px 15px;
    background-color: #d8e1ef;
}