.cardWrapper {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background: #ffffff;
    box-shadow: 8px 8px 5px -8px rgba(143,143,143,0.5);
    border: 1px solid rgba(143,143,143,0.5);
    margin: 0 10px;
}