.cardWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 8px 8px 5px -8px rgba(143,143,143,0.5);
    border: 1px solid rgba(143,143,143,0.5);
    margin: 10px 20px;
}

.item-col {
    padding: 8px 5px;
}