.title {
    font-size: 18px;
    margin: 0;
    color: #000000;
}
.subTitle {
    font-size: 15px;
    margin: 0;
    font-weight: 400;
    color: #000;
}

label {
    font-size: 12px;
}

h4 {
    margin: 0;
}
h5 {
    margin: 0;
}

.header {
    display: flex;

    .headerItem {
        padding: 0 5px;
    }    
}

.col {
    &1 {
        width: 25%;
    }
    &2 {
        width: 15%;
    }
    &3 {
        width: 15%;
    }
    &4 {
        width: 10%;
    }
    &5 {
        width: 8%;
    }
    &6 {
        width: 8%;
    }
    &7 {
        width: 8%;
    }
}

.pageTitle {
    margin: 0;
}

.pageSubTitle {
    font-weight: 500;
}
.pageSubTitle2 {
    font-weight: 600;
}

.haderWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;
}